* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: radial-gradient(#000000c7, #000000),
    url("https://wallpaperplay.com/walls/full/1/e/f/235048.jpg");
  overflow-x: hidden;
  min-height: 100vh;
}

.intro-bg {
  background-image: radial-gradient(#00000061, #000000),
    url(https://wallpaperaccess.com/full/1204205.jpg);
}

.main-background {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 40%;
  height: 50px;
  border-radius: 25px;
  padding: 10px 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 6px 0px #fff;
}

.main-input {
  border: 0;
  flex: 1;
  margin-left: 10px;
  height: 30px;
  font-size: 16px;
  color: #222;
}

.main-input:focus {
  outline: 0;
}

.main-input-icon {
  width: 25px;
}

.marvel-logo img {
  width: 300px;
}

.btn-submit {
  margin-top: 30px;
  height: 30px;
  padding: 0 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: red;
  border-color: #f1f1f1;
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 0px 4px 0px red;

  animation-name: highlight;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

a {
  text-decoration: none;
}

.btn-voltar-container {
  margin: 20px 30px;
}

.btn-voltar {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 8px;
}

.btn-voltar img {
  width: 130px;
}

.character-description {
  display: flex;
  align-items: start;
  padding: 0 100px;
  padding-top: 50px;
}

.character-description + .character-description {
  margin-top: 35px;
  padding-top: 50px;
}

.character-description:last-of-type {
  margin-bottom: 80px;
}

.character-description img {
  width: 400px;
  margin-right: 30px;
  border-radius: 15px 0 15px 0;
  border: 4px solid red;
}

.character-name {
  color: white;
  background: red;
  display: inline;
  padding: 10px;
  border-radius: 15px 0px 15px 0;
  margin-left: -90px;
}

.character-name:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  margin-top: -47px;
}

.comics-list {
  list-style-type: circle;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
}

.comics-list li {
  margin-bottom: 10px;
}

.character-details {
  color: #fff;
  margin-right: 70px;
  text-align: justify;
}

.no-results {
  color: white;
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results img {
  width: 600px;
}

.no-results h1 {
  margin-bottom: 30px;
  font-size: 30px;
}

.no-results a {
  color: white;
  margin-top: 20px;
}

@keyframes highlight {
  0% {
    box-shadow: 0px 0px 4px 0px red;
  }

  50% {
    box-shadow: 0px 0px 5px 2px red;
  }

  100% {
    box-shadow: 0px 0px 4px 0px red;
  }
}
